@font-face {
    font-family: kanit;
    src: url(../fonts/Kanit-Regular.ttf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: kanit;
}

body {
    background-color: blanchedalmond;
}

.container {
    margin: auto;
    width: 1000px;
}

header h1.title-text {
    text-align: center;
    font-size: 40px;
}

section.form-container {
    padding: 10px;
    width: 100%;
    border-radius: 10px;
    background-color: rgb(211, 179, 131);
}

section.form-container form .textarea-box textarea {
    width: 100%;
    height: 200px;
    background: none;
    padding: 10px;
    border-radius: 5px;
    resize: none;
    border: dashed 2px #a36c25;
    font-size: 20px;
    color: #ffff;
}

section.form-container form .textarea-box textarea::placeholder {
    font-size: 20px;
    color: #ffffffd8;
}

section.form-container form .textarea-box textarea:focus {
    outline: none;
}

section.form-container form .form-footer {
    display: flex;
    justify-content: space-between;
}

section.form-container form .form-footer .input-box label {
    background-color: #e7e7e7;
    padding: 5px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: .2s;
}

section.form-container form .form-footer .input-box label:hover {
    background-color: #c9c9c9;
}

section.form-container form .form-footer .input-box.left {
    display: flex;
    align-items: center;
    gap: 10px;
}

section.form-container form .form-footer .right input {
    border: 1px solid #ffd195;
    background: #ffd195;
    padding: 2px 4px;
    color: #000000;
    border-radius: 5px;
}

section.form-container form .form-footer .right input:focus {
    outline: none;
}

section.form-container form .form-footer .right .submit-btn {
    padding: 5px 10px;
    border: none;
    background: rgb(70, 190, 70);
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: .2s;
}

section.form-container form .form-footer .right .submit-btn:hover {
    background: rgb(26, 107, 26);
}

@media only screen and (max-width: 600px) {
    .container {
        width: 400px;
    }

    header h1.title-text {
        font-size: 35px ;
    }
}